%table.table.table-striped
  %thead
    %tr
      %th Email
      %th Comments posted since a week ago
  %tbody
    - commenters.each do |commenter|
      %tr
        %td= commenter.email
        %td= commenter.comment_count
