%ul.nav.nav-pills
  %li.active{role: 'presentation'}= link_to 'using ActiveRecord', '#'
  %li{role: 'presentation'}= link_to 'using raw SQL', top_commenters_raw_sql_path
= render 'commenters_table', commenters: @top_commenters
